CONFIG_MACH_JF_DCM=y
CONFIG_TARGET_LOCALE_JPN=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw.bin"

# Extra features
# CONFIG_CPU_OVERCLOCK is not set
CONFIG_LOW_CPUCLOCKS=y
CONFIG_INTELLI_PLUG=y
CONFIG_MSM_CPUFREQ_LIMITER=y
CONFIG_CPU_VOLTAGE_TABLE=y
CONFIG_FORCE_FAST_CHARGE=y

# dcm features
CONFIG_ISDBTMM=y
CONFIG_TMM_ANT_DET=y
CONFIG_TMM_CHG_CTRL=y
CONFIG_IRDA_MC96=y
CONFIG_MMC_CPRM=y
CONFIG_FELICA=y
CONFIG_NFC_FELICA=y
CONFIG_FELICA_NO_SECURE=y
