CONFIG_IOSCHED_TEST=n
CONFIG_IOSCHED_BFQ=y
CONFIG_CGROUP_BFQIO=y
CONFIG_MACH_JF_DCM=y
CONFIG_TARGET_LOCALE_JPN=y
CONFIG_LOW_CPUCLOCKS=y
CONFIG_INTELLI_PLUG=y
CONFIG_MSM_CPUFREQ_LIMITER=y
CONFIG_CPU_VOLTAGE_TABLE=y
CONFIG_FRONTSWAP=y
CONFIG_QUAD_CORES_SOC_STAT=y
CONFIG_DYNAMIC_FSYNC=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_IRDA_MC96=y
CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m

CONFIG_CAMERA_SW_I2C=y
CONFIG_CAMERA_USE_GSBI7=y

CONFIG_ISDBTMM=y
CONFIG_FELICA=y
CONFIG_NFC_FELICA=n
CONFIG_FELICA_NO_SECURE=y
CONFIG_CRYPTO_SHA1_ARM=y
CONFIG_CRYPTO_AES_ARM=y
CONFIG_BCM2079X_NFC_I2C=n
CONFIG_MMC_CPRM=y
CONFIG_TMM_ANT_DET=y
CONFIG_TMM_CHG_CTRL=y

CONFIG_WLAN_REGION_CODE=400

CONFIG_FRONTSWAP=y
